table,
th,
td {
  border: 1px solid;
}

tbody {
  white-space: nowrap;
}

#experience tr:hover {
  background-color: #D6EEEE;
  transition: background-color .5s;
}

th {
  background-color: #82b2ff;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

hr {
  width: 10%;
  border-style: dotted none none;
  border-width: 7px;
  border-color: #D3D3D3;
}

body {
  max-width: 900px;
  margin: auto;
}
